<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>SI-RETAIL</title>
  <meta charset="UTF-8">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color: #A3D2CA">
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
  <div class="card m-4 p-4" style="background-color: #F7F3E9">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Tambah Cabang SI-RETAIL</h2>
        <br>
        <form th:action="@{/cabang/add}" th:object="${cabang}" method="POST">
<!--          <input type="hidden" th:field="*{status}" />-->

          Nama Cabang : <br>
          <input th:value="*{namaCabang}" required class="form-control" type="text" name="namaCabang"/>
          <br>

          Alamat : <br>
          <input th:value="*{alamatCabang}" required class="form-control" type="text" name="alamatCabang"/>
          <br>

          Nomor Telepon : <br>
          <input th:value="*{noTeleponCabang}" required class="form-control" type="text" name="noTeleponCabang"/>
          <br>

          Ukuran Cabang (M) : <br>
          <input th:value="*{ukuranCabang}" required class="form-control" type="number" name="ukuranCabang"/>
          <br>

            <button type="submit" class="btn btn-outline-dark">Submit</button>
            <button class="btn"><a class="text-muted" href="/">Cancel</a></button>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>