<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>SI-RETAIL</title>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color: #A3D2CA">
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <h2>Daftar Seluruh Kupon</h2>
    <br>
    <!--    <form th:action="@{/cabang/} + ${idCabang} + '/coupon/' + ${idItem}" th:object="${coupon}"-->
    <!--          method="POST">-->
    <form th:action="@{/kupon/} + ${cabangId} +'/'+ ${itemId}" th:object="${coupon}"
          method="POST">
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Id Kupon</th>
            <th>Kode Kupon</th>
            <th>Nama Kupon</th>
            <th>Jumlah Diskon</th>
            <th>Tanggal Expired</th>
            <th th:unless="${role == '[Staff Cabang]'}" >Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="kupon, iterationStatus : ${listKupon}"
            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${kupon.idCoupon}"></td>
            <td th:text="${kupon.couponCode}"></td>
            <td th:text="${kupon.couponName}"></td>
            <td th:text="${kupon.discAmount}"></td>
            <td th:text="${kupon.expiryDate}"></td>
            <td>
                <div><input class="form-check-input" type="radio" th:field="*{idCoupon}"
                       th:value="${kupon.idCoupon}"/>Kupon</div>
<!--                <div><input class="form-control" type="text"  th:field="*{discountAmount}"-->
<!--                            th:value="${kupon.discountAmount}" th:text="${kupon.discountAmount}" disabled/></div>-->
                <div><input class="form-check-input" type="radio" th:field="*{discAmount}"
                       th:value="${kupon.discAmount}"/>Harga</div>
            </td>
<!--            <td>-->
<!--                <a th:if="${role == '[Kepala Retail]'}" class="btn btn-outline-dark" type="submit">Terapkan</a>-->
<!--                <a th:if="${role == '[Manager Cabang]'}" class="btn btn-outline-dark" th:href="#">Terapkan</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
        <button class="btn btn-primary" th:if="${role == '[Kepala Retail]'}" type="submit">Terapkan</button>
        <button class="btn btn-primary" th:if="${role == '[Manager Cabang]'}" type="submit">Terapkan</button>
        <a class="btn btn-outline-dark" href="/">Home</a>
    </form>
</div>

</body>

</html>
