<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>SI-RETAIL</title>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color: #A3D2CA">
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <h2>Daftar Seluruh Cabang Emsidi</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Id Cabang</th>
            <th>Nama Cabang</th>
            <th>Nomor Telepon Cabang</th>
            <th>Ukuran Cabang (M)</th>
            <th>Jumlah item dalam cabang</th>
            <th>Status</th>
            <th th:unless="${role == '[Staff Cabang]'}" >Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cabang, iterationStatus : ${listCabang}"
            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${cabang.Id}"></td>
            <td th:text="${cabang.namaCabang}"></td>
            <td th:text="${cabang.noTeleponCabang}"></td>
            <td th:text="${cabang.ukuranCabang}"></td>
            <td>Kosong</td>
            <td th:if="${cabang.status}== 0"> Menunggu Persetujuan</td>
            <td th:if="${cabang.status}== 1">Ditolak </td>
            <td th:if="${cabang.status}== 2">Disetujui</td>
            <td>
                <a th:if="${role == '[Kepala Retail]'}" class="btn btn-outline-dark" th:href="@{/cabang/view/} + ${cabang.Id}">Detail
                    Cabang</a>
                <a th:if="${role == '[Manager Cabang]'}" class="btn btn-outline-dark"  th:href="@{/cabang/view/} + ${cabang.Id}">Detail
                    Cabang</a>

            </td>
            <td>
                <a th:if="${role == '[Kepala Retail]'}" class="btn btn-outline-dark" th:href="@{/cabang/update/} + ${cabang.Id}">Update Cabang</a>
                <a th:if="${role == '[Manager Cabang]'}" class="btn btn-outline-dark" th:href="@{/cabang/update/} + ${cabang.Id}">Update Cabang</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-dark" href="/">Home</a>
</div>

</body>

</html>
