<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>SI-RETAIL</title>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color: #A3D2CA">
    <nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
    <h2>Daftar Seluruh User</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Id</th>
            <th>Username</th>
            <th>Nama</th>
            <th>Role</th>
            <th th:unless="${role == '[Staff Cabang]'}" >Ubah</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterationStatus : ${listUser}"
            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${user.Id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.nama}"></td>
            <td th:if="${user.role.id}== 1">Kepala Retail</td>
            <td th:if="${user.role.id}== 2">Manager Cabang </td>
            <td th:if="${user.role.id}== 3">Staff Cabang</td>
            <td>
                <a th:if="${role == '[Kepala Retail]'}" class="btn btn-outline-dark" th:href="@{/user/update/} + ${user.username}">Ubah</a>
                <a th:if="${role == '[Manager Cabang]'}" class="btn btn-outline-dark"  th:href="@{/user/update/} + ${user.username}">Ubah</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-dark" href="/">Home</a>
</div>
</body>
</html>